*{
    margin: 0;
    padding: 0;
}

:root{
    --gradiente1: #ff4c5b;
    --gradiente2: #ff4857;
    --gradiente3: #df1447;
    --titulo: #fff;
    --letra:#4b4b4b;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    background: linear-gradient(to right, #ff7595, #a82a67,#8d0140); 
    /* Compatibilidad entre navegadores */
    background-clip: text;  /* estándar --- indica que el fondo se recorte a la forma del texto. */
    -webkit-background-clip: text;  /* para Chrome, Safari, Edge antiguo */
    -webkit-text-fill-color: transparent;   /* necesario para que se vea el degradado */
}

/* IMA */
img{
    height: 100%;
    width: 100%;
}

.texto{
    position: absolute;
    text-align: center;
    right: 31%;
    top: 9%;
}

.texto h1{
    font-family: "Poppins", sans-serif;
    color: var(--titulo);
    font-weight: 300;
    font-size: 35px;
}

/* BOTÓN */
button{
    background-color: var(--gradiente1);
    border-color: var(--gradiente1);
    color: var(--titulo);
    border-style: solid;
    border-radius: 10px;
    font-size: 4px;
    font-weight: 200;
    height: 11px;
    width: 38px;
}

/* SECTION */
section{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
}


/* CONTENIDO1 */
p{
    font-family: "Poppins", sans-serif;
    font-size: 4.5px;
}

#titulo1{
    font-weight: 600;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: var(--letra);
}

.contenido1{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
    padding-right: 28px;
    padding-top: 30px;
}

.img1{
    width: 46%;
    box-shadow: #020202;
}


/* CONTENIDO2 */
.img2{
    width: 45%;
    box-shadow: #020202;
}

.contenido2{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 30px;
    padding-right:  20px;
    padding-top: 30px;
    padding-bottom: px;
}


/* CONTENEDOR DE LA IMAGEN DEL FOOTER */
.imagen4{
    position: relative;
    width: 100%;
}

.imagen4 img{
    position: relative;
    height: auto;
    display: block;
    padding-top: 18px;
}

.textoimg2{
    line-height: 7px;
}

.contenido-footer{
    font-family: "Poppins", sans-serif;
    position: absolute;
    color: var(--titulo);
    top: 52px;
    left: 56.5%;
}

.contenido-footer h2{
    font-size: 13px;
    line-height: 13px; /* Altura entre líneas */
    font-weight: 420;
    letter-spacing: 0.7px;  /* Espaciado entre letras */
    margin-bottom: 5px; /* Espacio inferior */
}

.contenido-footer .textoimg2{
    font-size: 4px;
    padding-right: 11px;
}

.boton-footer{
    margin-bottom: 3px;
}


/* FOOTER (GRADIANTES) */
footer{
    background: linear-gradient(to right, var(--gradiente1),var(--gradiente2),var(--gradiente3));
    font-family: "Poppins", sans-serif;
    font-size: 3px;
    padding-left: 53px;
    padding-top: 10px;
    color: var(--titulo);
    height: 68px;
    max-width: 320%;
}

.footer-tittle{
    line-height: 14px;
}

.columnas-footer{
    display: flex;
    justify-content:flex-start;
    gap: 35px;
    width: 90%;
}

li{
    list-style: none;
    line-height: 6px;
}

.footer-botton{
    padding-top: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 142px;
}

@media (min-width: 339px) and (max-width: 370px){
    .texto{
        right: 30%;
        top: 10%;
    }

    .texto h1{
        font-size: 39px;
    }
}

@media (min-width: 360px) and (max-width: 448px){
    .texto{
        right: 31%;
        top: 11%;
    }

    .texto h1{
        font-size: 42px;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 6.4px;
        margin-bottom: 4px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 16px;
    }

    
    button{
        font-size: 6.5px;
        margin-top: 8px;
        height: 15px;
        width: 54px;
    }

    .contenido-footer h2{
        font-size: 16px;
        font-weight: 500;
        line-height: 16px; /* Altura entre líneas */
        padding-top: 18px;
        letter-spacing: 0.7px;  /* Espaciado entre letras */
        margin-bottom: 7px; /* Espacio inferior */
    }

    .contenido-footer .textoimg2{
        font-size: 5px;
        padding-right: 35px;
    }

    .columnas-footer{
        gap: 44px;
    }

    footer{
        padding-left: 83px;
        font-size: 5px;
        line-height: 6px;
        height: 85px;
    }

    
    li{
        list-style: none;
        line-height: 9px;
    }
}

@media screen and (min-width: 449px) and (max-width: 540px){
    .texto{
        right: 31%;
        top: 13%;
    }

    .texto h1{
        font-size: 49px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 7px;
        margin-bottom: 8px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 20px;
    }

    button{
        font-size: 6.5px;
        margin-top: 8px;
        height: 15px;
        width: 54px;
    }

    .contenido-footer h2{
        font-size: 20px;
        line-height: 20px; /* Altura entre líneas */
        padding-top: 18px;
        letter-spacing: 0.7px;  /* Espaciado entre letras */
        margin-bottom: 7px; /* Espacio inferior */
    }

    .contenido-footer .textoimg2{
        font-size: 5px;
        padding-right: 35px;
    }

    .columnas-footer{
        gap: 44px;
    }

    footer{
        padding-left: 83px;
        font-size: 5px;
        line-height: 6px;
        height: 85px;
    }

    
    li{
        list-style: none;
        line-height: 9px;
    }
}

@media screen and (min-width: 541px) and (max-width: 570px){
        .texto{
        right: 31%;
        top: 13%;
    }

    .texto h1{
        font-size: 49px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 7px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 20px;
    }

    button{
        font-size: 6.5px;
        margin-top: 8px;
        height: 15px;
        width: 54px;
    }

    .contenido-footer h2{
        font-size: 20px;
        line-height: 20px; /* Altura entre líneas */
        padding-top: 20px;
    }

    .contenido-footer .textoimg2{
        font-size: 6px;
        padding-right: 38px;
        line-height: 8px;
    }

    .columnas-footer{
        gap: 54px;
    }

    footer{
        padding-left: 99px;
        font-size: 5px;
        line-height: 6px;
        height: 85px;
    }

    
    li{
        list-style: none;
        line-height: 9px;
    }
}

@media screen and (min-width: 571px) and (max-width: 700px){
    .texto{
        right: 32%;
        top: 18%;
    }

    .texto h1{
        font-size: 59px;
    }

    h3{
        font-size: 25px;
    }

    p{
        font-size: 7px;
    }

    .img1{
        width: 45%;
        height: 45%;
    }

    .img2{
        width: 45%;
        height: 45%;
    }


    #titulo1{
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }

    button{
        font-size: 6.5px;
        margin-top: 8px;
        height: 15px;
        width: 54px;
    }

    .contenido-footer h2{
        font-size: 25px;
        line-height: 25px; /* Altura entre líneas */
        padding-top: 30px;
    }

    .contenido-footer .textoimg2{
        font-size: 7px;
        padding-right: 38px;
        line-height: 9px;
    }

    .columnas-footer{
        gap: 58px;
    }

    footer{
        padding-left: 105px;
        font-size: 5px;
        height: 85px;
    }

    li{
        line-height: 10px;
    }
}


@media screen and (min-width: 701px) and (max-width: 768px){
    .texto{
        right: 32%;
        top: 20%;
    }

    .texto h1{
        font-size: 74px;
    }

    h3{
        font-size: 30px;
    }

    p{
        font-size: 9px;
        margin-top: 5px;
    }

    .img1{
        width: 40%;
        height: 40%;
    }

    .img2{
        width: 40%;
        height: 40%;
    }

    .contenido1{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 90px;
        padding-right: 70px;
        padding-top: 70px;
    }

    .contenido2{
        display: flex;
        align-items: center;
        gap: 30px;
        padding-left: 70px;
        padding-right: 60px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
    }

    button{
        font-size: 6.5px;
        margin-top: 8px;
        height: 20px;
        width: 70px;
    }

    .contenido-footer h2{
        font-size: 30px;
        line-height: 25px; /* Altura entre líneas */
        padding-top: 30px;
    }

    .contenido-footer .textoimg2{
        font-size: 7px;
        padding-right: 38px;
        line-height: 9px;
    }

    .columnas-footer{
        gap: 74px;
    }

    footer{
        padding-left: 125px;
        font-size: 5px;
        height: 95px;
    }

    li{
        line-height: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 964px){
    .texto{
        right: 31%;
        top: 23%;
    }

    .texto h1{
        font-size: 90px;
    }

    h3{
        font-size: 30px;
    }

    p{
        font-size: 9px;
        margin-top: 5px;
    }

    .img1{
        width: 40%;
        height: 40%;
    }

    .img2{
        width: 40%;
        height: 40%;
    }

    .contenido1{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 90px;
        padding-right: 70px;
        padding-top: 70px;
    }

    .contenido2{
        display: flex;
        align-items: center;
        gap: 30px;
        padding-left: 70px;
        padding-right: 60px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
    }

    button{
        font-size: 6.5px;
        margin-top: 8px;
        height: 25px;
        width: 75px;
    }

    .contenido-footer h2{
        font-size: 32px;
        line-height: 30px; /* Altura entre líneas */
        padding-top: 65px;
    }

    .contenido-footer .textoimg2{
        font-size: 7px;
        padding-right: 38px;
        line-height: 11px;
    }

    .columnas-footer{
        gap: 98px;
    }

    footer{
        padding-left: 160px;
        font-size: 5px;
        height: 95px;
    }

    li{
        line-height: 10px;
    }
}

@media screen and (min-width: 965px) and (max-width: 1024px){
    .texto{
        right: 33%;
        top: 23%;
    }

    .texto h1{
        font-size: 91px;
    }

    h3{
        font-size: 35px;
    }

    p{
        font-size: 11px;
        margin-top: 5px;
        padding-right: 60px;
    }

    .img1{
        width: 40%;
        height: 40%;
    }

    .img2{
        width: 40%;
        height: 40%;
    }

    .contenido1{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 96px;
        padding-right: 100px;
        padding-top: 70px;
    }

    .contenido2{
        display: flex;
        align-items: center;
        gap: 90px;
        padding-left: 80px;
        padding-right: 60px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 35px;
        line-height: 36px;
    }

    button{
        font-size: 9px;
        margin-top: 8px;
        height: 25px;
        width: 90px;
    }

    .contenido-footer h2{
        font-size: 37px;
        line-height: 38px; /* Altura entre líneas */
        padding-top: 65px;
    }

    .contenido-footer .textoimg2{
        font-size: 11px;
        padding-right: 70px;
        line-height: 15px;
    }

    .columnas-footer{
        gap: 98px;
    }

    footer{
        padding-top: 20px;
        padding-left: 160px;
        font-size: 10px;
        height: 140px;
    }

    li{
        line-height: 17px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1235px){
    .texto{
        right: 32%;
        top: 28%;
    }

    .texto h1{
        font-size: 125px;
    }

    h3{
        font-size: 45px;
    }

    p{
        font-size: 15px;
        margin-top: 5px;
        padding-right: 60px;
    }

    .img1{
        width: 40%;
        height: 40%;
    }

    .img2{
        width: 40%;
        height: 40%;
    }

    .contenido1{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 96px;
        padding-right: 100px;
        padding-top: 70px;
    }

    .contenido2{
        display: flex;
        align-items: center;
        gap: 90px;
        padding-left: 80px;
        padding-right: 60px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 45px;
        line-height: 60px;
    }

    button{
        font-size: 15px;
        margin-top: 8px;
        height: 30px;
        width: 120px;
    }

    .contenido-footer h2{
        font-size: 45px;
        line-height: 45px; /* Altura entre líneas */
        padding-top: 120px;
    }

    .contenido-footer .textoimg2{
        font-size: 15px;
        padding-right: 70px;
        line-height: 25px;
    }

    .columnas-footer{
        gap: 90px;
    }

    footer{
        padding-top: 50px;
        padding-left: 160px;
        font-size: 15px;
        height: 190px;
    }

    li{
        line-height: 25px;
    }
}

@media screen and (min-width: 1225px) and (max-width: 1794px){
    .texto{
        right: 32%;
        top: 28%;
    }

    .texto h1{
        font-size: 150px;
    }

    h3{
        font-size: 54px;
    }

    p{
        font-size: 20px;
        margin-top: 5px;
        padding-right: 60px;
    }

    .img1{
        width: 40%;
        height: 40%;
    }

    .img2{
        width: 40%;
        height: 40%;
    }

    .contenido1{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 96px;
        padding-right: 100px;
        padding-top: 70px;
    }

    .contenido2{
        display: flex;
        align-items: center;
        gap: 90px;
        padding-left: 80px;
        padding-right: 60px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 54px;
        line-height: 60px;
    }

    button{
        font-size: 15px;
        margin-top: 8px;
        height: 30px;
        width: 120px;
    }

    .contenido-footer h2{
        font-size: 50px;
        line-height: 45px; /* Altura entre líneas */
        padding-top: 120px;
    }

    .contenido-footer .textoimg2{
        font-size: 18px;
        padding-right: 70px;
        line-height: 25px;
    }

    .columnas-footer{
        gap: 130px;
    }

    footer{
        padding-top: 50px;
        padding-left: 220px;
        font-size: 17px;
        height: 190px;
    }

    li{
        line-height: 25px;
    }
}

@media screen and (min-width: 1795px) and (max-width: 2560px){
    .texto{
        right: 32%;
        top: 28%;
    }

    .texto h1{
        font-size: 260px;
    }

    h3{
        font-size: 75px;
    }

    p{
        font-size: 25px;
        margin-top: 5px;
        padding-right: 100px;
    }

    .img1{
        width: 40%;
        height: 40%;
    }

    .img2{
        width: 40%;
        height: 40%;
    }

    .contenido1{
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 400px;
        padding-right: 500px;
        padding-top: 160px;
    }

    .contenido2{
        display: flex;
        align-items: center;
        gap: 210px;
        padding-left: 350px;
        padding-right: 500px;
        padding-top: 110px;
        padding-bottom: 120px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 75px;
        line-height: 75px;
    }

    button{
        font-size: 20px;
        margin-top: 8px;
        height: 50px;
        width: 185px;
        border-radius: 40px;
    }

    .contenido-footer h2{
        font-size: 70px;
        line-height: 60px; /* Altura entre líneas */
        padding-top: 260px;
    }

    .contenido-footer .textoimg2{
        font-size: 20px;
        padding-right: 250px;
        line-height: 25px;
    }

    .columnas-footer{
        gap: 260px;
    }

    footer{
        padding-top: 50px;
        padding-left: 440px;
        font-size: 20px;
        height: 220px;
    }

    li{
        line-height: 30px;
    }
}