*{
    margin: 0;
    padding: 0;
}

:root{
    --gradiente1: #ff4c5b;
    --gradiente2: #ff4857;
    --gradiente3: #df1447;
    --titulo: #fff;
    --letra:#4b4b4b;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    background: linear-gradient(to right, #ff7595, #a82a67,#8d0140); 
    /* Compatibilidad entre navegadores */
    background-clip: text;  /* estándar --- indica que el fondo se recorte a la forma del texto. */
    -webkit-background-clip: text;  /* para Chrome, Safari, Edge antiguo */
    -webkit-text-fill-color: transparent;   /* necesario para que se vea el degradado */
}
/* ----- ------ -----*/

/* TEXTO & SU ENCABEZADO */
img{
    height: 100%;
    width: 100%;
}

.texto{
    position: absolute;
    text-align: center;
    right: 31%;
    top: 9%;
}

.texto h1{
    font-family: "Poppins", sans-serif;
    color: var(--titulo);
    font-weight: 300;
    font-size: 35px;
}

/* BOTÓN */
button{
    background-color: var(--gradiente1);
    border-color: var(--gradiente1);
    color: var(--titulo);
    border-style: solid;
    border-radius: 10px;
    font-size: 4px;
    font-weight: 200;
    height: 11px;
    width: 38px;
}

/* SECTION */
section{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
}


/* CONTENIDO1 */
p{
    font-family: "Poppins", sans-serif;
    font-size: 4.5px;
}

#titulo1{
    font-weight: 600;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: var(--letra);
}

.contenido1{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
    padding-right: 28px;
    padding-top: 30px;
}

.img1{
    width: 46%;
    box-shadow: #020202;
}


/* CONTENIDO2 */
.img2{
    width: 45%;
    box-shadow: #020202;
}

.contenido2{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 30px;
    padding-right:  20px;
    padding-top: 30px;
    padding-bottom: px;
}


/* CONTENEDOR DE LA IMAGEN DEL FOOTER */
.imagen4{
    position: relative;
    width: 100%;
}

.imagen4 img{
    position: relative;
    height: auto;
    display: block;
    padding-top: 18px;
}

.textoimg2{
    line-height: 7px;
}

.contenido-footer{
    font-family: "Poppins", sans-serif;
    position: absolute;
    color: var(--titulo);
    top: 52px;
    left: 56.5%;
}

.contenido-footer h2{
    font-size: 13px;
    line-height: 13px; /* Altura entre líneas */
    font-weight: 420;
    letter-spacing: 0.7px;  /* Espaciado entre letras */
    margin-bottom: 5px; /* Espacio inferior */
}

.contenido-footer .textoimg2{
    font-size: 4px;
    padding-right: 11px;
}

.boton-footer{
    margin-bottom: 3px;
}


/* FOOTER (GRADIANTES) */
footer{
    background: linear-gradient(to right, var(--gradiente1),var(--gradiente2),var(--gradiente3));
    font-family: "Poppins", sans-serif;
    font-size: 3px;
    padding-left: 53px;
    padding-top: 10px;
    color: var(--titulo);
    height: 68px;
    max-width: 320%;
}

.footer-tittle{
    line-height: 14px;
}

.columnas-footer{
    display: flex;
    justify-content:flex-start;
    gap: 35px;
    width: 90%;
}

li{
    list-style: none;
    line-height: 6px;
}

.footer-botton{
    padding-top: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 142px;
}

@media (min-width: 339px) and (max-width: 370px){
    .texto{
        right: 30%;
        top: 10%;
    }

    .texto h1{
        font-size: 39px;
    }
}

@media (min-width: 360px) and (max-width: 400px){
    .texto{
        right: 30%;
        top: 11%;
    }

    .texto h1{
        font-size: 39px;
    }



    h3{
        font-size: 16px;
    }

    #titulo1{
        font-weight: 600;
        font-size: 16px;
    }

    button{
        font-size: 5px;
        font-weight: 200;
        height: 14px;
        width: 40px;
    }

    
}

@media (min-width: 370px) and (max-width: 1024px) {
    
}